<div>
    <p>Имя пользователя: {{user?.surname}}</p>
    <p>Возраст пользователя: {{user?.old}}</p>
</div><br><br>
<div class="page-header">
    <h1> Участники мероприятия </h1>
</div>
<div class="panel">
    <div class="form-inline">
        <div class="form-group">
            <div class="col-md-8">
                <input class="form-control" [(ngModel)]="name" placeholder="Имя"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-6">
                <input class="form-control" [(ngModel)]="age" placeholder="Возраст"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-6">
                <input class="form-control" [(ngModel)]="gender" placeholder="Пол"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-6">
                <input class="form-control" [(ngModel)]="eyeColor" placeholder="Цвет глаз"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-6">
                <input class="form-control" [(ngModel)]="address" placeholder="Адрес"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-6">
                <input class="form-control" [(ngModel)]="phone" placeholder="Телефон"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-6">
                <input class="form-control" [(ngModel)]="email" placeholder="E-mail"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-6">
                <input class="form-control" [(ngModel)]="company" placeholder="Компания"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-6">
                <input class="form-control" [(ngModel)]="about" placeholder="Описание"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-6">
                <input class="form-control" [(ngModel)]="balance" placeholder="Баланс"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-6">
                <input class="form-control" [(ngModel)]="picture" placeholder="Фото"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-6">
                <input class="form-control" [(ngModel)]="registered" placeholder="Дата регистрации"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-6">
                <input class="form-control" [(ngModel)]="tags" placeholder="Тэги"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-6">
                <input class="form-control" [(ngModel)]="latitude" placeholder="Широта"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-6">
                <input class="form-control" [(ngModel)]="longitude" placeholder="Долгота"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-6">
                <input class="form-control" [(ngModel)]="friends" placeholder="Друзья"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-6">
                <input class="form-control" [(ngModel)]="greeting" placeholder="Приветствие"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-6">
                <input class="form-control" [(ngModel)]="favoriteFruit" placeholder="Любимый фрукт"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-8">
                <button class="btn btn-default" (click)="addItem(name, age, gender, eyeColor, address, phone, email, company, about, balance, picture,
         registered, tags, latitude, longitude, friends, greeting, favoriteFruit)">Добавить</button>
            </div>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Имя</th>
            <th>Возраст</th>
            <th>Пол</th>
            <th>Цвет глаз</th>
            <th>Адрес</th>
            <th>Телефон</th>
            <th>E-mail</th>
            <th>Компания</th>
            <th>Описание</th>
            <th>Баланс</th>
            <th>Фото</th>
            <th>Дата регистрации</th>
            <th>Тэги</th>
            <th>Широта</th>
            <th>Долгота</th>
            <th>Друзья</th>
            <th>Приветствие</th>
            <th>Любимый фрукт</th>
            <th>Добавить в избранное</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of items">
            <td>{{item.name}}</td>
            <td>{{item.age}}</td>
            <td>{{item.gender}}</td>
            <td>{{item.eyeColor}}</td>
            <td>{{item.address}}</td>
            <td>{{item.phone}}</td>
            <td>{{item.email}}</td>
            <td>{{item.company}}</td>
            <td>{{item.about}}</td>
            <td>{{item.balance}}</td>
            <td>{{item.picture}}</td>
            <td>{{item.registered}}</td>
            <td>{{item.tags}}</td>
            <td>{{item.latitude}}</td>
            <td>{{item.longitude}}</td>
            <td>{{item.friends}}</td>
            <td>{{item.greeting}}</td>
            <td>{{item.favoriteFruit}}</td>
            <td>
                <div (click)="addRemoveToFavorites()" class="favorites favorites-noactive"></div>
            </td>
            <!--<td><input type="checkbox" [(ngModel)]="item.age"/></td>-->
        </tr>
        </tbody>
    </table>
</div>